@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?2m7ox9');
  src:  url('../fonts/icons.eot?2m7ox9#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?2m7ox9') format('truetype'),
    url('../fonts/icons.woff?2m7ox9') format('woff'),
    url('../fonts/icons.svg?2m7ox9#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-behance:before {
  content: "\e916";
}
._icon-profile:before {
  content: "\e915";
}
._icon-search:before {
  content: "\e914";
}
._icon-Convert:before {
  content: "\e913";
}
._icon-Facebook:before {
  content: "\e909";
}
._icon-Heart:before {
  content: "\e90a";
}
._icon-Instagram:before {
  content: "\e90b";
}
._icon-iPhone:before {
  content: "\e90c";
}
._icon-Linked-In:before {
  content: "\e90d";
}
._icon-Mail:before {
  content: "\e90e";
}
._icon-Right:before {
  content: "\e90f";
}
._icon-telegram:before {
  content: "\e910";
}
._icon-Twitter:before {
  content: "\e911";
}
._icon-YouTube:before {
  content: "\e912";
}
._icon-Files:before {
  content: "\e906";
}
._icon-mic:before {
  content: "\e907";
}
._icon-Play:before {
  content: "\e908";
}
._icon-Calendar:before {
  content: "\e904";
}
._icon-Clock:before {
  content: "\e905";
}
._icon-star:before {
  content: "\e900";
}
._icon-chat:before {
  content: "\e901";
}
._icon-layouts:before {
  content: "\e902";
}
._icon-shape:before {
  content: "\e903";
}
