/* &display=swap */
@import "null.css";
/* ================================================================ */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
.wraper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.title-view {
	background: -webkit-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: -moz-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	position: relative;
	
}

.figures-arrows_left {
	left: 9.27%;
	top: 21.2%;
}
.figures-arrows_right {
	right: 7.4%;
	top: 3.04%;
}
.figures{
	position: absolute;
}
.title-view__circules{
	width: 284px;
	height: 284px;
	left: -112px;
	top: 896px;
	opacity: 0.2;
}
.title-view__dotts{
	width: 187px;
	height: 137px;
	right: -30px;
	top: 749px;
	opacity: 0.8;
}

.half-spheries_center {
	width: 88px;
	height: 47px;
	left: 782px;
	top: 487px;
	opacity: 0.3;
}
.half-spheries_midle {
	width: 61px;
	height: 61px;
	left: 733px;
	top: 758px;
}
.title-view__container {
	position: relative;
	z-index: 2;
}
._container {
	max-width: 1230px;
	margin: 0 auto;
}
@media(max-width:1230px){
	._container {
	padding:0px 10px 0px 10px;
	}
}
.navigation__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:20px 0px 0px 0px;
	width: 100%;
	max-width: 100%;
	
}

.logotype__image {
	margin:0px 60px 0px 0px;
}

.menu__list {
	margin:0px 225px 0px 0px;
}
.list {
	display: flex;
}
.list__item {
	line-height: 1.6;
	font-weight: 700;
}
.list__item:not(:last-child) {
	margin:0px 40px 0px 0px;
}
.list__link{
	display:block;
}

.menu__button {
	margin:0px 36px 0px 0px;
}
.btn {
	display: inline-block;
	line-height: 3;
	padding:0px 40px 0px 40px;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	letter-spacing: 0.5px;
	white-space: nowrap;
	border: 1px solid #FF3F3A;
	transition: all 0.3s;
	position: relative;
}
.btn:hover{
	background:transparent;
	color: #FF3F3A;
}
@media(max-width:430px){
	.button__link{
		padding:0px 20px 0px 20px;
	}
}
.header__registration{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.account-registration {
	display: flex;
	justify-content: center;
}

.login-registration__link {
	white-space: nowrap;
}
.account-registration__del {
}
.title-view__elements{
	display: flex;
	justify-content: space-between;
	margin:128px 0px 0px 0px;
}
@media(max-width:960px){
	.title-view__elements{
		flex-direction: column;
		margin:64px 0px 0px 0px;
	}
}
.enjoy-studying-block {
	flex: 1 1 50%;
}
.enjoy-studying-block__button {
	margin:0px 0px 58px 0px;
}
.button-play {
	display: flex;
	align-items: center;
}
.circule-btn {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background:rgba(255, 63, 58, 1);
	position: relative;
	transition: all 0.3s;
}
.circule-btn:hover {
	-webkit-box-shadow: 0px 0px 2px 34px rgba(255, 63, 58, 0.13);
-moz-box-shadow: 0px 0px 2px 34px rgba(255, 63, 58, 0.13);
box-shadow: 0px 0px 2px 34px rgba(255, 63, 58, 0.13);
}
.circule-btn::before{
	content: "";
	position: absolute;
	top: 35%;
	left: 43%;
	width: 16px;
	height: 16px;
	border: 10px solid transparent; border-left: 15px solid white;
	transition: all 0.3s;
}
.circule-btn:active::before{
	top: 35%;
	left: 34%;
	border-top: 10px solid white ; border-left: 10px solid white;
	border-bottom: 10px solid white;border-right: 10px solid white;
}
.button-play__text {
	margin-left: 34px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
}
.enjoy-studying-block__title {
	max-width:500px ;
	margin:0px 0px 60px 0px;
}
.block-title__text {
	font-size: 64px;
	font-weight: 900;
	line-height:1.3;
	letter-spacing: 1px;
}
@media(max-width:960px){
	.block-title__text {
		font-size: 40px;
		font-weight: 900;
		line-height:1;
		letter-spacing:0.5px;
	}
}
.enjoy-studying-block__buttons-block  {
	display: flex;
	
}
@media(max-width:960px){
	.enjoy-studying-block__buttons-block  {
		margin-bottom:20px;
		
	}
}
.title-view__button{
	margin:0px 24px 0px 0px;
}
._transparent{
	background: transparent;
	border: 1px solid #FF3F3A;
	color: #FF3F3A;
	position: relative;	
}
._explore{
	margin:0px;
}
._transparent::before {
	content:"About us";
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
._transparent:hover::before {
	opacity: 1;
	visibility: visible;
}
.illustration-block__image {
margin:0px -5% 0px 0px;
	
}
.illustration-block__image img{
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}
.statistics-block__list {
	padding:190px 0px 80px 0px;
}
@media(max-width:960px){
	.statistics-block__list {
		padding:50px 0px 30px 0px;
	}
}
.statistics-block__list .list{
	justify-content: space-between;
}
@media(max-width:960px){
	.statistics-block__list .list{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}
.list__element {
	display: flex;
	align-items: center;
}
@media(max-width:960px){
	.list__element{
		flex-wrap: wrap;
		justify-content: center;
	max-width: 300px;
	}
	.list__element:not(:last-child){
		margin:0px 20px 0px 0px;
	}
}
.list__element:not(:first-child)::before{
	content: "";
	width: 8px;
	height: 8px;
	background: #FF3F3A;
	border-radius: 50%;
	margin:0px 66px 0px 0px;
}
@media(max-width:960px){
	.list__element:not(:first-child)::before{
		display: none;
	}
}
.list__title {
	margin:0px 13px 0px 0px;
	font-size: 46px;
	font-weight: 900;
	color: #000;
	line-height:1.3;
}
.who-we-are {
}
.who-we-are__body {
	background: #fff;
	position: relative;
	padding:180px 0px 180px 0px;
}
@media(max-width:960px){
	.who-we-are__body {
		
		padding:50px 0px 50px 0px;
	}
}
.who-we-are__dotts {
	top: 25%;
transform: rotate(0deg);
opacity: 0.5;
}

.who-we-are__circules {
right: 0;
bottom:20%;
	opacity: 0.5;
}
.who-we-are__container {
}

.who-we-are-body-block {
	display: flex;
}
@media(max-width:1032px){
	.who-we-are-body-block {
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: center;
		/* margin:0px 10px 0px 10px; */
	}
}
.who-we-are-image-block {
}
.who-we-are-image-block__foto {
	margin:0px 140px 0px 0px;
	max-width: 705px;
}
.who-we-are-image-block__foto img{
	width: 100%;
	max-width: 100%;
}
@media(max-width:1032px){
	.who-we-are-image-block__foto {
		margin:0 auto;
	}
}
.who-we-are-content-block {
}
.who-we-are-content-block__content {
}
@media(max-width:1032px){
	.who-we-are-content-block__content {
		margin: 0 auto;
		
	}
}
.who-we-are-content-block__title {
	
}
.title-block {
}
.subtitle-content {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
}
.subtitle-content__text {
	margin:0px 0px 8px 0px;
}

.title-content {
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
}
.title-content__text {
	margin:0px 0px 40px 0px;
}
.who-we-are-content-block__list {
	margin:0px 0px 22px 0px;
}
.list-block {

}

@media(max-width:768px){
	.list-block__items {
		margin:0px 0px 0px 25px;
	}
}
.items-block {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}
.items-block__item:not(:last-child) {
	margin:0px 0px 12px 0px;
}
.items-block__item::before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/homepage/who_we_are/check_icon.svg) 1px/16px no-repeat;
	margin:0px 0px 0px -32px;
	padding:0px 0px 0px 32px;
	
}
.who-we-are-content-block__button {
	margin:0px 0px 20px -32px;
}
@media(max-width:768px){
	.who-we-are-content-block__button {
		margin:0px 0px 20px -8px;
	}
}



.featured-courses {
}
.featured-courses__body {
	margin:0px 0px 180px 0px;
	background: #fff;
}
@media(max-width:960px){
	.featured-courses__body {
		margin:0px 0px 50px 0px;
		background: #fff;
	}
}
.featured-courses__container {

}
._container {
}
.featured-courses-body-block {
}
.featured-courses-body-block__title-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin:0px 0px 60px 0px;
}
@media(max-width:430px){
	.featured-courses-body-block__title-block {
		flex-direction: column;
		align-items: center;
		margin:0px 0px 30px 0px;
	}
}
.featured-courses-body-block__title {
}
.title-block {
}
.subtitle-content {
}
.subtitle-content__text {
}
.title-content {
}
.title-content__content {
}
@media(max-width:430px){
	.title-content__content {
		text-align: center;
		margin-bottom: 10px;

	}
}
.featured-courses-body-block__button {
}
@media(max-width:430px){
	.featured-courses-body-block__button {
		align-self: flex-end;
	}
}
.featured-courses-body-block__link {
}
.featured-courses-body-block__link._transparent::before{
	content: "View all courses";
}

.featured-courses-body-block__fotos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media(max-width:960px){
	.featured-courses-body-block__fotos{
		flex-direction: column;
		align-items: center;
	}
}
.block-foto {
	flex: 0 0 48%;
}
@media(max-width:960px){
	.block-foto {
		flex: 1 1 100%;
	}
}
.block-foto__body {
	display: flex;
	border: solid 1px rgba(229, 232, 237, 1);
	border-radius: 4px;
	max-width: 600px;
	min-height: 214px;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.0);
	transition: all 1s ease;
	background: #fff;
}
.block-foto__body:hover{
transform: scale(1.2);
transition: all 0.3s ease;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.1), 0px 30px 24px -10px rgba(154, 156, 165, 0.09), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.1);
}
@media(max-width:960px){
	.block-foto__body {
		
		max-width: 500px;
		
	}
}
.featured-courses-body-block__foto{
	margin:0px 0px 30px 0px;
}
.featured-courses-body-block__foto:nth-child(odd){
margin-right: 30px;
}
@media(max-width:960px){
	.featured-courses-body-block__foto:nth-child(odd){
		margin-right: 0px;
		}
}
.block-foto__image {

}
.foto-block-img {
   flex: 0 0 35%;
	
	object-fit: cover;
}
.foto-block-img img{
	height: 100%;
	width: 100%;
	max-width: 100%;

	object-fit: cover;
}
.block-foto__content {
	padding:32px 32px 32px 32px;
}
@media(max-width:960px){
	.block-foto__content {
		padding:32px 0px 32px 32px;
	}
}
@media(max-width:768px){
	.block-foto__content {
		padding:10px 0px 10px 32px;
	}
}
.content-foto-block {
	
}
.content-foto-block__subtitle {
	margin:0px 0px 20px 0px;
	/* padding:0px 300px 0px 0px; */
}
@media(max-width:768px){
	.content-foto-block__subtitle{
		margin:0px 0px 10px 0px;
	}
}
.subtitle-block-foto {
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	
	
}
.subtitle-block-foto__text{
	padding:1px 8px;
	border-radius: 4px;
   display: inline;
	text-align: center;
}
.subtitle-block-foto__text_green{
	background: rgba(3, 206, 164, 1);
}
.subtitle-block-foto__text_blue{
	background: rgba(90, 135, 252, 1);
}
.subtitle-block-foto__text_yellow{
	background: rgba(248, 152, 40, 1);
}
.subtitle-block-foto__text_pinc{
	background: rgba(245, 47, 110, 1);

}
.subtitle-block-foto__text {
}
.content-foto-block__title {
}
.title-block-foto {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	       
}
.title-block-foto__text {
	margin:0px 0px 20px 0px;
}
@media(max-width:768px){
	.title-block-foto__text {
		margin:0px 0px 10px 0px;
	}
}
.content-foto-block__information {
	display: flex;
}
.information-block-foto {
	font-size: 18px;
	line-height: 1.5;
	
}
.information-block-foto__price {
}
.information-text {
	color: rgba(120, 122, 128, 1);
	;
}
.information-text_red {
	color: red;
}
.information-block-foto__by-who {
	margin:0px 0px 0px 16px;
}
.information-text_grey-line{
	position: relative;
}
.information-text_grey-line::before {
	position: absolute;
	content: "";
	display: inline-block;
	top: 5px;
	left: -16px;
	width:1px;
	height: 18px;
	background:rgba(120, 122, 128, 1);
	margin:0px 8px 0px 8px;
}
/*--------------------------------------our-benefits section------------------------*/
.our-benefits__body {
	background: #fff;
	margin:0px 0px 120px 0px;
}
.our-benefits-body-block__title {
	margin: 0px auto 60px auto;
	text-align: center;
}

.our-benefits-body-block__tabs {
	margin:0px 0px 20px 0px;
}

.tabs-block__nav{
	display: flex;
	margin:0px 0px 30px 0px;
}
@media(max-width:768px){
	.tabs-block__nav{
		flex-direction: column;
	}
	.tabs-block {
		display: flex;
	}
}
.tabs-block__btn-style{
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	padding:10px 30px ;
	border: 1px solid rgba(255, 63, 58, 0);
	flex: 1 1 25%;
	background: transparent;
	color: grey;
	transition: all 0.5s ease;
}
@media(max-width:768px){
	.tabs-block__btn-style{
		margin-right: 20px;
		padding:5px 10px ;
		flex: 0 0 0;
	}
	.tabs-block__btn-style:not(:last-child){
margin-bottom: 20px;
	}
}
.tabs-block__btn-style.tabs-block__btn.active{
	border: 1px solid rgba(255, 63, 58, 1);
	color:rgba(255, 63, 58, 1) ;
	border-radius: 4px;
	transition: all 0.5s ease;
}
.tabs-block__btn-style.tabs-block__btn:hover{
	 border: 1px solid rgba(255, 63, 58, 1);
	 color:rgba(255, 63, 58, 1) ;
	 border-radius: 4px;
}


.tabs-block__icon{
	margin-right: 9px;
	margin-top: 4px;
}
.tabs-block__item{
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
.tabs-block__item p{
	font-size: 0;
	transition: all 1s;
}
.tabs-block__item.active{
	border: 1px solid rgba(255, 63, 58, 1);
	border-radius: 4px;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	transition: all 1s;
}
.tabs-block__item.active p{
	font-size: 16px;
	line-height: 1.6;
	color: rgba(66, 69, 81, 1);
	transition: all 1s;
	padding:25px;
}



.our-benefits-body-block__content {
	display: flex;
	align-items: center;
}
@media(max-width:768px){
	.our-benefits-body-block__content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.our-benefits-body-block__description {
	margin:0px 135px 0px 0px;
}
@media(max-width:768px){
	.our-benefits-body-block__description {
		margin:0px 10px 0px 10px;
	}
}
.description-text-block {
	flex: 1 1 45%;
	
}

.description-text-block__title-text {
	padding:0px 37px 0px 0px;
	margin:0px 0px 24px 0px;
}
@media(max-width:768px){
	.description-text-block__title-text {
		padding:0px 0px 0px 0px;
		
		text-align: center;
		
	}
}
.description-text-title {
	font-weight: 900;
	font-size: 32px;
	line-height: 1.3;
}
.description-text-block__content {
	
}
.description-text-content {
	font-size: 16px;
	line-height:1.6 ;
	color: rgba(66, 69, 81, 1);
}
/*-------------------our events section-------------------------*/
.our-events {
}
.our-events__body {
	background: -webkit-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: -moz-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	position: relative;
	
}
.our-events__half-spheries {
	right: 0;
	top: -14%;
}

.our-events__dots {
	left: 1%;
	bottom: 0%;
}

.our-events__title {
	text-align: center;
	padding:80px 0px 0px 0px;
	margin:0px 0px 60px 0px;
}
.our-events__title .title-content .title-content__text{
	margin:0px 0px 0px 0px;
}

.events-block {
}
.events-block__item {
	
}
.item-events {

}
.item-events__body {
	background: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:40px 32px 40px 32px;
	transition: all 0.3s ease;
	flex-wrap: wrap;
}
@media(max-width:1164px){
	.item-events__body {
		justify-content: center;
	}
}
.item-events:not(:last-child).item-events .item-events__body {
	margin:0px 0px 24px 0px;
}
.item-events__body:hover{
	box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.item-events__date {
}
@media(max-width:1164px){
	.item-events__date {
		margin:0px 20px 0px 0px;
	}
}
.date-event {
	display: flex;
	align-items: center;
	justify-content: center;
}
.date-event__number {
	margin:0px 20px 0px 0px;
}
.number-event {
	color: #FF3F3A;
	font-size: 48px;
	line-height: 1.3;
	letter-spacing: 1px;
	font-weight: 900;
}
.date-event__time {
}
.date-event__month {
	margin:0px 0px 4px 0px;
}
.month-event {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}
.date-event__hours {
}
.hours-event {
	font-size: 16px;
	line-height: 1.6;
	color:#787A80;
}
@media(max-width:430px){
	.events-content__title{
		text-align: center;
	}
	.events-content__text{
		text-align: center;
	}
}
.item-events__button {
	align-self: flex-start;
	padding:0px 0px 0px 10px;
}
@media(max-width:767px){
	.item-events__button {
	
		padding:10px 0px 0px 0px;
	}
}
.item-events__link:before {
	content: "View more";
}
.our-events__footer {
text-align: center;
padding:65px 0px 85px 0px;
}
.ending-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.ending-block__text {
	margin:0px 40px 0px 0px;
}
@media(max-width:518px){
	.ending-block__text {
		margin:0px 0px 15px 0px;
	}
}
.text-ending {
	font-size: 28px;
	font-weight: 700;
	line-height: 2;
	white-space: nowrap;
	
}
.ending-block__button {
}
.ending-block__link {
}
/*-------------sertificat-----------------------*/
.sertificate {
	
}
.sertificate__body {
	background: #fff;
	padding:120px 0px 0px 0px;
max-height: 472px;
}

.body-sertificate {
	display: flex;
}
@media(max-width:768px){
	.sertificate__body {
		padding:60px 0px 60px 0px;
	max-height: 100%;
	}
	.body-sertificate {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.body-sertificate__content {
	flex: 1 1 50%;
	margin:0px 0px 120px 0px;
}
@media(max-width:768px){
	.body-sertificate__content {
		flex: 1 1 50%;
		margin:0px 0px 40px 0px;
		text-align: center;
	}
}
.body-sertificate__title .title-content .title-content__text {
	margin:0px 0px 0px 0px;
}
.body-sertificate__title{
	margin:0px 0px 48px 0px;
}

.body-sertificate__text {
	margin:0px 0px 32px 0px;
}
.sertificate-text {
}
.body-sertificate__icons {

}
.icons-sertificate {
	display: flex;
}
@media(max-width:768px){
	.icons-sertificate {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.icons-sertificate__item:not(:last-child) {
	margin:0px 26px 0px 0px;
}
.body-sertificate__image {
	flex: 1 1 50%;
}
.image-block {
	position: relative;
	width: 100%;
	transition: all 0.3s ease;
	border: 1px solid #E5E8ED;
	border-radius: 4px;
	z-index: 2;
}
.image-block:hover {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.1), 0px 30px 24px -10px rgba(154, 156, 165, 0.09), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.1);
}
.image-block img{
	width: 100%;
	max-width: 100%;
}
/*--------------Testimonials----------------------*/
.team{
	position: relative;
}
.team__body {
	padding:166px 0px 160px 0px;
	background: #F4F5F7;

}
.team__arrows {
	right: 0;
	top: 30.25%;
	opacity: 0.6;
}

.team__circules-right {
	
	right: 0;
	bottom: 0;
	
}
.team__circules-left {
	width: 145px;
	height: 145px;
	left: 5%;
	top: 60%;
	opacity: 0.6;
}
.team__dotts-bottom {

	left: 25%;
	bottom: 5%;
}
.team__dotts-up {
	right: 31%;
	top: 5%;
}
.team__halfspheries-center {
	left: 60%;
	top: 60%;
	opacity: 0.6;
}
.team__halfspheries-up {
	left: 10%;
	top: 5%;
	opacity: 0.6;
}

.team__title .title-content__text{
	margin:0px 0px 0px 0px;
}
.team__title {
	margin:0px 0px 60px 0px;
}
.team__slider {
	margin:0px 0px 180px 0px;
}
.techers-slider__wraper {
	display: flex;
	justify-content: space-between;
}
.teachers-slider__item {
	flex: 1 1 25%;
}
.teachers-slider__item:not(:last-child){
	margin:0px 30px 0px 0px;
}
.item-slider {
	max-width: 100%;
	text-align: center;
}
.item-slider__foto {
}
.item-foto {
	max-width: 100%;
	
}
.item-foto__wraper{
	padding:20px 20px 0px 20px;
	margin:0px 0px 16px 0px;
}
.foto-wraper{
	width: 100%;
	background: #FFCF2D;
	position: relative;
}
.foto-wraper img{
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}
.icons-foto {
	margin:0px 20px 20px 0px;
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
}
.icons-foto img{
	width: 20px;
	height: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
}
.foto-wraper:hover .icons-foto img{
	opacity: 1;
	visibility: visible;
}
.icons-foto__link:not(:last-child){
	margin:0px 12px 0px 0px;
}

.foto-wraper::before{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
opacity: 0;
visibility: hidden;
transition: all 0.5s ease;
}
.foto-wraper:hover::before{
	opacity: 1;
	visibility: visible;
}
.teachers-slider__item{
	margin:0px 0px 4px 0px;
}
.title-foto {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #424551;
}
.description-foto {
	font-size: 16px;
	line-height: 160%;
	color: #787A80;
}
.testimonials-block {
}
.testimonials-block__title {
	text-align: center;
	margin:0px 0px 60px 0px;
}
.testimonials-block__title .title-content .title-content__text{
	margin:0px 0px 0px 0px;
}
.testimonials-slider__wraper {
	max-width: 1020px;
	margin: 0 auto;
}
.testimonials-slider__item {
	max-width: 100%;
}
.item-testimonials {
	background: #fff;
	max-width: 100%;
}
.item-testimonials__body {
	padding:64px 105px ;
}
.item-testimonials__text {
	margin:0px 0px 24px 0px;
}
.slider-item-testimonials__paragraph{
	position: relative;
}
.slider-item-testimonials__paragraph::before {
	content:"";
	width: 28px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: -60px;
	background: url(../img/homepage/our-team/icons/braces.png);
}
.description-text-content {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #424551;
}
.testimonials-foto {
	display: flex;
}
.testimonials-foto__image {
	border-radius: 50%;
	width: 72px;
	height: 72px;
	margin:0px 20px 0px 0px;
}
.testimonials-foto__title {
	margin:0px 0px 4px 0px;
}
.foto-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: #1E212C;
}
.foto-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #787A80;
}
/*---------our blog---------------------*/
.our-blog {
}
.our-blog__body {
	background: #fff;
	padding:120px 0px 180px 0px;
}
.our-blog__title-block {
	display: flex;
	justify-content: space-between;
}
@media(max-width:480px){
	.our-blog__title-block {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin:0px 0px 20px 0px;
	}
}
.our-blog__title .title-content__text{
	margin:0px 0px 0px 0px;
}
.our-blog__title{
	margin:0px 0px 60px 0px;
}

.posts-block {
}
.posts-block__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media(max-width:930px){
	.posts-block__body {
		flex-wrap: wrap;
		justify-content: center;
		
	}
}
@media(max-width:768px){
	.posts-block__body {
		flex-direction: column;
	}
}
.posts-item {
	/* flex: 1 1 33.333%; */
	max-width: 33.333%;
}
@media(max-width:768px){
	.posts-item {
		max-width: 100%;
		
	}
}
.posts-item__body {
	max-width: 100%;
	
}
.posts-block__item:not(:last-child){
	margin:0px 30px 0px 0px;
}
@media(max-width:930px){
	.posts-block__item:not(:last-child){
		margin:0px 30px 30px 0px;
	}
	.posts-block__item:nth-child(even){
		margin-right: 0px;
	}
}
@media(max-width:768px){
	.posts-block__item:not(:last-child){
		margin:0px 0px 30px 0px;
	}
}
.posts-item__image {
	width: 100%;
	margin:0px 0px 16px 0px;
}

.posts-image{
	position: relative;
}
.post-image__link{
position: absolute;
top: 0;
left: 0;
margin:12px 0px 0px 12px;
}
.image-link{
	background: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	padding:8px 8px 8px 8px;
	border-radius: 4px;
}
._icon-mic::before{
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
}
.posts-item__image img{
	max-width: 100%;
	width: 100%;
}
.posts-item__description {
}
.item-description {
	max-width: 100%;
}
.item-description__list {
	margin:0px 0px 8px 0px;
	max-width: 100%;
}
.posts-item__list {
	display: flex;
}
.list-posts-item {

}
.list-posts-item-li {
	display: flex;
	position: relative;
	margin:0px 25px 0px 0px;
}
.list-posts-item-li:nth-child(even)::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top:0;
	left: -12px;
	background: #424551;
}
.list-posts-item-li:nth-child(even)::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top:0;
	right: -11px;
	background: #424551;
}
.posts-paragraph{
	text-align: center;
}
.posts-paragraph_margin:before{
	margin:0px 9px 0px 0px;
}
.item-description__title {
	margin:0px 0px 8px 0px;
}
.description__title {
	color:#1E212C;
}
.item-description__text {
	margin:0px 0px 16px 0px;
}
.link-description {
	font-weight: 700;
	line-height: 160%;
	font-size: 16px;
	position: relative;
}
.link-description::after{
content: "";
position: absolute;
width: 18px;
height: 11px;
top: 20%;
right: -28px;
background: url(../img/homepage/our-blog/our-blog__icon/arrow.svg) ,no-repeat;
}
/*--------------subscribe------------------------*/
.subscribe {
}
.subscribe__body {
	background: -webkit-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: -moz-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	position: relative;
}
.subscribe__images{
	position: absolute;
	width: 100%;
	display: flex;
	bottom: 0;
	justify-content: space-between;
}
.subscribe__image {
	 width: 354px; 
}
.subscribe__image img{
width: 100%;
max-width: 100%;
}
._left {
	left: 0;
	margin:0px 10px 0px 0px;
}
._right {
	right: 0;
	margin:0px 0px 0px 10px;
}
.subscribe__container {
	padding:120px 0px 180px 0px;
}
.subscribe__title-block {
	text-align: center;
	max-width: 810px;
	margin:0px auto 60px auto;
}
.subscribe__title .title-content__text {
	margin:0px 0px 0px 0px;
}
.subscribe__form-block {
	position: relative;
	
}
.email-form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}
.email-form__input {
	font-size:16px;
	line-height:1.6;
	font-weight: 400;
	border-radius: 4px;
	padding:13px 272px 13px 16px;
	margin:5px 24px 5px 5px;
}
@media(max-width:618px) {
	.email-form__input{
		margin:5px 5px 5px 5px;
	}
}
@media(max-width:618px) {
	.email-form__input{
		padding:5px 5px 13px 16px;
	}
}
.email-input {
	width: 100%;
	max-width:422px ;
}
.form-btn__subscribe {
	font-size:15px;
	font-weight: 700;
	letter-spacing: 0.5;
	line-height:3.25;
	margin:5px 5px 5px 0px;
}
/*------------footer---------------------------*/
.footer__top {
	 background: #1E212C;
	 padding:80px 0px 60px 0px;
	 color: #ffff;
}

.footer__block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding:20px 0px 20px 0px;
}
@media(max-width:1120px){
	.footer__block {
	flex-wrap: wrap;
		justify-content: center;
	}
}
.footer-block__item{
	margin:0px 80px 0px 0px;
}
._sign-up{
	margin:0px 0px 0px 0px;
}
@media(max-width:1120px){
	
	.footer-block__item{
		margin:0px 40px 30px 0px;
	}
	._sign-up{
		margin:0px 0px 0px 0px;
	}
}
@media(max-width:430px){
	
	.footer-block__item{
		margin:20px;
		text-align: center;
	}
}
.item-block__logo{
	margin:0px 0px 25px 0px;
}
.footer-block__paragraph {
	margin:0px 0px 40px 0px;
}
.paragraph-block {
	max-width: 279px;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
opacity: 0.6;
}
.footer-block__icons {
max-width: 244px;
margin:0px 39px 0px 0px;
}
@media(max-width:430px){
	.footer-block__icons {
		margin:0 auto;
		}
}
.icons-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.icons-list__item:not(:last-child) {
	margin:0px 20px 0px 0px;
}
.icons-list__link {
	font-size: 22px;
	transition: all 1s ease;
	color: #fff;
	opacity: 0.6;
}
.icons-list__link:hover {
	opacity: 1;
}

.item-block__title {
	margin:0px 0px 12px 0px;
	
}
.title-text {
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
}

.footer-list {
	opacity: 0.6;
}
.footer-list__item:not(last-chaild) {
	margin:0px 0px 8px 0px;
	cursor: pointer;
}
.footer-list__link::before {
	margin:0px 5px 0px 0px;
}

.sign-padding{
padding:0px 5px 0px 0px;
}
._sign-up {
	width: 286px;
	max-width: 286px;
}

.footer-form__form {
	display:flex;
	
}
.footer-form__input {
	width: 100%;
	max-width: 100%;
	background: rgba(255, 255, 255, 0.12);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right: none;
	border-radius: 4px 0px 0px 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	color: #FFFFFF;
	opacity: 0.6;
	padding:9px 0px 9px 12px;
}
.form-btn {
	width: 27px;
	background-color: #fff;
	height: 100%;
	background: rgba(255, 255, 255, 0.12);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left: none;
	border-radius: 0px 4px 4px 0px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	color: #FFFFFF;
	opacity: 0.6;
	transition: all 1s ease;
}
.form-btn:hover{
	opacity: 1;
}
.footer__bottom {
	background: #1E212C;
	opacity: 0.6;
}
.footer__rights {
	color: #fff;
	opacity: 1;
	margin:0px 10px 0px 0px;
	text-align: center;
}
@media(max-width:430px){
	.footer__rights {
		margin-bottom: 20px;
	}
}
.createx-rights:nth-child(2) {
	margin:0px 4px 0px 0px;
}

.footer__go-to-top {
	margin:0px 0px 0px 10px;
}
.go-to-top-btn {
	color: #fff;
	opacity: 0.6;
	transition: all 0.3s ease;
}
.go-to-top-btn:hover {
	opacity: 1;
}
/*---------------page2--------------------------------------*/
/*------------------------------------------------------*/
.coursespage .navigation__body{
	margin:0px 0px 80px 0px;
}
/*----------------------------------------------------*/
.online-courses__body {
	position: relative;
	background:#fff;
	padding:0px 0px 120px 0px;
}
.online-courses__arrows-right {
	top: 50%;
	right: 5%;
}
.online-courses__half-spheries-right {
	top: 30%;
	left: 5%;
}
.online-courses__dotts-right {
	top: 0;
	right: -1%;
}
.online-courses__title-block {
	text-align: center;
	margin:0px 0px 70px 0px;
}

.tabs-block__btn_margin{
	margin:0px 11px 0px 0px;
}

.tabs-block__form{
	display: flex;
	
}
.serch-button{
	background: #fff;
	height: 100%;
	padding:16px 16px 16px 16px;
	border: 1px solid #D7DADD; 
	border-radius: 0px 4px 4px 0;
	border-left: none; 
}
.input-tabs {
	max-width: 315px;
	font-size: 14px;
	line-height: 1.5;
	padding:11px 0px 12px 16px;
	color: #9A9CA5;
	border: 1px solid #D7DADD;
	border-right: none; 
	border-radius: 4px 0 0 4px;
}
.tabs-block__fotos {
	margin:0px 0px 80px 0px;
}
.fotos-block-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.fotos-item {
	max-width: 390px;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}
.fotos-block-body__item{
	margin-bottom: 25px;
}
.fotos-block-body__item:nth-child(2) {
	margin-left:25px;
	margin-right:25px;
}
.fotos-block-body__item:nth-child(3n+5) {
	margin-left:25px;
	margin-right:25px;
}
@media(max-width:1234px){
	.fotos-block-body__item{
		margin: 25px;
	}
}
.fotos-item__image {
	width: 100%;
	border-radius: 4px 4px 0px 0px;
/* 	margin:0px 0px 25px 0px; */
}
.fotos-item__image img{
	max-width: 100%;
	width: 100%;
}
.fotos-block-body__description {
	padding:24px;
}
.fotos-description {
	max-width: 100%;
}
.load-more-button {
	width: 150px;
	margin: 0 auto;
}
.load-more {
	background: transparent;
	font-weight: 700;
   font-size: 16px;
   line-height: 1.6;
	text-align: center;
	position: relative;
}
.load-more-button img{
	margin:0px 16px 0px 0px;
}
/*--------testimonials page2-----------------*/

.testimonials__body {
	background: #F4F5F6;
	position: relative;
	padding:80px 0px 160px 0px;
}
.team__circules-left-top{
	max-width: 115px;
	top: 55px;
	left: 75px;
}
.testimonials__body .team__dotts-bottom{
	top: 75%;
	left: 20%;
}
.testimonials__body .team__halfspheries-center{
	left: 60%;
	top: 14%;
}
/*------sertificate page two------------------*/
.page-courses {
	padding:120px 0px 120px 0px;
}
.page-courses .sertificate__body {
padding:0px 0px 0px 0px;
}

.page-courses .body-sertificate__content {
	margin:83px 0px 0px 0px;
}
/*--------------page3-------------------*/
.title-view__title{
	text-align: center;
	padding:133px 50px 120px 50px;
}
.subtitle-content__text_red{
	color: red;
	/* font-size: 16px; */
}
.expiriense-page .title-view__circules{
	top: 60%;
	left: 0%;
	opacity: 1;
}
.about-the-course {
}
.about-the-course__body {
	background: #fff;
	padding:120px 0px 180px 0px;
}
@media(max-width:768px){
	.about-the-course__body {
		background: #fff;
		padding:40px 0px 40px 0px;
	}
}

.course-body {
display: flex;
justify-content: space-between;
align-items: flex-start;
}
@media(max-width:768px){
	.course-body {
		flex-direction: column;
		justify-content: center;
		align-items:center;
		}
}
.course-body__about {
	flex: 0 0 49%;
}
@media(max-width:768px){
	.course-body__about {
		text-align: center;
	}
}
.about__title {
	margin:0px 0px 40px 0px;
}

.about__description {
	margin:0px 0px 48px 0px;
}
@media(max-width:768px){
	.you-will-learn {
		margin:0px 0px 20px 0px;
	}
}

.you-will-learn__title {
	margin:0px 0px 24px 0px;
}

.title-learn {
	font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 1.5;
color: #1E212C;
}
.you-will-learn__list {
	margin:0px 0px 0px 32px;
}
@media(max-width:768px){
	.you-will-learn__list {
		text-align: left;
		margin: 0 auto;
	}
}

.course-body__calendar {
	background: #fff;
	padding:40px 32px;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}
.calendar {
	flex: 0 0 40%;
}
.body-calendar {
	display: flex;
	flex-direction: column;
	
}
.body-calendar__item{
	margin:0px 0px 32px 0px;
}
.body-calendar__item:last-child{
	margin:0px 0px 40px 0px;
}
.item-card__title {
	margin:0px 0px 4px 0px;
}
.title-card {
	font-weight: 700;
font-size: 14px;
line-height: 1.5;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
}
.item-card__information {
	margin:0px 0px 8px 0px;
}
.information-card {
	font-weight: 700;
font-size: 24px;
line-height: 1.3;
color: #FF3F3A;
}
.content-card {
	font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #787A80;
}
.body-calendar__link {
	flex: 1 1 100%;
}
.body-calendar__btn {
	text-align: center;
	width: 100%;
}
/*----------Cody Fisher-------------------*/

.cody__body {
	position: relative;
	background: #fff;
	margin:0px 0px 180px 0px;
	padding:46px 0px 0px 0px;
}
.cody__circules {
	top: 0;
	left: 17%;
}
.manager {
	display: flex;
	justify-content: space-between;
	
}
@media(max-width:768px){
	.manager {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		
	}
}
.course-curator__image {
margin:0px 135px 0px 0px;
}
@media(max-width:768px){
	.course-curator__image {
		margin:0px 0px 0px 0px;
		}
}
.image-manager {
	flex: 1 0 40%;
}

.background-image {
	width: 100%;
	background: #FFCF2D;
	border-radius: 4px;
}
.background-image img{
	margin:-20px auto 0px auto;
	width: 100%;
	max-width: 100%;
}
.course-curator__description {
	padding:0px 0px 76px 0px;
}
@media(max-width:768px){
	.course-curator__description {
		text-align: center;
	}
}
.description-manager__title {
	flex: 0 0 50%;
	margin:0px 0px 32px 0px;
}
.description-manager__title .title-content__text {
	margin:0px 0px 16px 0px;
}
.description-text {
	font-weight: 400;
font-size: 20px;
line-height: 1.5;
color: #787A80;
}
.description-manager__benefits {
	margin:0px 0px 32px 0px;	
}
.benefits-list__item{
	display: flex;
	color: red;
	align-items: center;
}
@media(max-width:768px){
	.benefits-list__item{
		justify-content: center;
	}
}
.benefits-list__item:not(:last-child) {
	margin:0px 0px 4px 0px;
}
.benefits-description {
	margin:0px 0px 0px 8px;
	text-align: center;
	font-weight: 700;
font-size: 16px;
line-height: 1.6;
color: #424551;
}
.description-manager__content {
	margin:0px 0px 42px 0px;
}
.content-description {
	font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #424551;
}
.social-items {
	display: flex;
}
@media(max-width:768px){
	.social-items {
		justify-content: center;
	}
}
.social-items__item:not(:last-child) {
	margin:0px 42px 0px 0px;
}
.item-social {
	transition: all 0.5s ease;
	font-size: 24px;
	color: #424551;
}
.item-social:hover{
	color: red;
}
/*-------------------main steps---------------------------*/
.main-steps {
}
.main-steps__body {
	position: relative;
	margin:0px 0px 180px 0px;
}
.main-steps__arrows {
	left: 90.52%;
	top: 0;
}

.main-steps__circules {
	left: 51.95%;
	top:61%;
	transform: scale(1.5);
}
.main-steps__container {
}

.main-steps__title {
	text-align: center;
	margin:0px 0px 60px 0px;
}
.main-steps__title .title-content__text{
	margin:0px 0px 0px 0px;
}

.main-steps__content {
	max-width: 100%;
}
.flex-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
@media(max-width:1200px){
	.process-block {
	flex-wrap: wrap;
	justify-content: center;
	}
}
.main-steps__lerning-process{
	margin:0px 0px 177px 0px;
}
.process-block__item {
	max-width: 285px;
}
@media(max-width:1200px){
	.process-block__item {
		margin:25px;
	}
}
.item-process{
	
}
.number-item {
}
.item-process__number {
	margin:0px 22px 16px 0px;
	display: flex;
	position: relative;
}
.item-text {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	display: flex;
	align-items: center;
	color: #D7DADD;
	position: relative;
	
}

.item-process:hover .item-text::before {
content: "";
position: absolute;
top: -50%;
left: -58%;
border-radius: 50%;
width: 116px;
height: 116px;
background: #FF3F3A;
opacity: 0.06;
z-index: 2;
}
.item-process:hover .item-text::after {
	content: "";
	position: absolute;
	top: -20%;
	left: -30%;
	border-radius: 50%;
	width: 84px;
	height: 84px;
	background: #FF3F3A;
	opacity: 0.12;
	z-index: 2;
	}

.item-process__line {
position: absolute;
top: 30%;
left: 55px;
transition: all 1s  ease 0.2s;
z-index: 0;
}
.item-process:hover .item-process__line{
	transform: translate(-50%);
	opacity: 0;
	
}
.dashed-line {
	display: inline-block;
	border: 1px dashed #D7DADD;
	width: 209px;
}
.item-process__title {
	margin:0px 0px 8px 0px;
}
.title-process {
	font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
}
.item-process__content {
	font-size: 16px;
line-height: 1.6;
color: #787A80;
}
.process-content {
}
.main-steps__discount {
}
.discount-container {
	max-width: 100%;
	background: -webkit-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: -moz-linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	background: linear-gradient(55.95deg, rgb(255, 63, 58,0.2), rgb(247, 94, 5,0.2) 100%);
	border-radius: 4px;
	padding:60px 48px;
}
.discount-container__title {
	display: flex;
	margin:0px 0px 61px 0px;
	justify-content: space-between;
}
@media(max-width:400px){
	.discount-container__title {
	flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}
.title-discount {
	font-weight: 900;
	font-size: 32px;
	line-height: 1.3;
	color: #1E212C;
}
.discount-container__date {
	display: flex;
}
@media(max-width:400px){
	.discount-container__date {
		margin:20px 0px 0px 0px;
	}
}

.date-container__item:not(:last-child) {
	margin:0px 24px 0px 0px;
}
.item-date {
}
.number-date {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.3;
	color: #1E212C;
}
.item-date__number{
	margin:0px 0px 4px 0px;
}
.name-date {
	font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #1E212C;
}
.form-discount {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
@media(max-width:1200px){
	.form-discount {
	flex-wrap: wrap;
	justify-content: flex-start;
	}
}
.form-discount__item {
	flex: 0 0 25%;
}
.input-label {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: #424551;
}
.form-discount__input:not(:last-child) {
	margin:8px 24px 0px 0px;
}
.form-discount__input:last-child {
	margin:8px 22px 0px 0px;
}
.discount-form-input {
	background: #FFFFFF;
	border: 1px solid #D7DADD;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: #9A9CA5;
	padding:11px 0px 12px 16px;
	width: 291px;
	
}
@media(max-width:400px){
	.discount-form-input {
		max-width: 250px;
	}
}
.form-discount__btn {
	padding:26px 0px 0px 0px;
}
@media(max-width:1050px){
	.form-discount__btn {
	
	}
}
/*------------for whom-------------------*/
.for-whom {
}
.for-whom__body {
	margin:0px 0px 180px 0px;
	position: relative;
}
.for-whom__dots {
	left: 0;
bottom: 0;
}

.for-whom__content {
}
.content-block {
	display: flex;
	justify-content: space-between;
	
}
@media(max-width:767px){
	.for-whom__content {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
.for-whom__title {
	margin:0px 135px 0px 0px;
}
@media(max-width:767px){
	.for-whom__title {
		margin:0px 0px 0px 0px;
	}
}
.title-block {
}
.subtitle-content {
}
.subtitle-content__text {
}
.title-content {
}
.title-content__text {
}
.for-whom__list {
	margin:32px 0px 0px 0px;
	max-width: 600px;

}
.list-block {
}
.for-whom__list .list-block__items {
font-size: 20px;
font-weight: 700;
line-height: 1.5;
}
.for-whom__list .list-block__items:not(:last-child) {
margin:0px 0px 20px 0px;
	}
/*------------course-program-----------------*/
.course-program__body {
	margin:0px 0px 120px 0px;
}
.flex-block {
}
@media(max-width:1280px){
	.course-program__block {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.flex-block__item {
	max-width: 50%;
}
@media(max-width:1280px){
	.flex-block__item {
		max-width: 100%;
	}
}
.course-content__title {
	margin:0px 0px 50px 0px;
}
@media(max-width:1280px){
	.course-content__title {
		text-align: center;
	}
}
.course-content__title .title-content__text {
	margin:0px 0px 0px 0px;
}

@media(max-width:1280px){
	.course-content__tabs {
		margin:0px 20px 0px 20px;
	}
}
.tabs-list__item {
	margin:0px 0px 24px 0px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: #FF3F3A;
	min-width:323px;
}
@media(max-width:1280px){
	.tabs-list__item {
		max-width: 90%;
	}
}
.title-block-tab__span{
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}
.title-block-tab__span::before,.title-block-tab__span::after{
	content: "";
	position: absolute;
	width:20px;
	height: 2px;
	background:#FF3F3A;
	top: 50%;
	left: -25px;
	transition: all 1s ease-in;
	cursor: pointer;
	
}
.title-block-tab__span::after{
	transform: rotate(90deg);
}
.button-tab.active .title-block-tab__span::after{
	transform: rotate(0deg);
}
.button-tab.active .title-block-tab__span::before{
	transform: rotate(-90deg);
	opacity: 0;
}

.title-block-tab{
	display: flex;
	align-items: center;
}
.tabs-title {
font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;

}
.tabs-list__title {
	margin:0px 0px 0px 8px;
}
.tabs-list__item .tabs-block__item {
	border: none;
}
.tabs-list__item .tabs-block__item p{
	padding:16px 0px 0px 0px;
}
@media(max-width:1280px){
	.tabs-list__item .tabs-block__item p{
		margin:0px 20px 0px 0px;
		max-width: 80%;
	}
}
